h1
{
    color: #2572c8;
}
body
{

}

.informacion
{
    color: white;
}

.c1
{

    background-color: lavender;
}

.c2
{
    background-color: lavenderblush;
}

.hola{
    margin-left: -10px;
}

.prueba{
    border-color: white;
}